.home {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.add-contact-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-contact-search button {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.125rem;
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.add-contact-search .search {
    display: flex;
    align-items: center;
    width: 350px;
}

.add-contact-search .search input {
    padding: 10px 20px;
    border: 2px solid #546bdd;
    border-right: none;
    outline: none;
    flex: 1;
    font-size: 1rem;
}

@media (max-width: 800px) {
    
    .add-contact-search {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
}